

<!-- search-box -->
    <div id="search-box">

        <div id="overall-flex-container">

            <div class="search-box-overall-container">

                <div class="search-box-container">

                    <div [ngClass]="inteligence? 'start-search-box-inteligence-open': 'start-search-box'">
                        <img id="search-icon" src="assets/search-solid.png" alt="search" width="24">
                    </div>

                    <input type="text" 
                    [(ngModel)]="search"
                    (keyup)="searching()"
                    class="search-box-feild" 
                    placeholder="Search images">

                    <div class="vertical-line"></div>

                    <button class="icon-button" (click)="sortPics()">
                        <img [src]="sortImage" alt="sort" >
                    </button>


                </div>
    
            </div>

        </div>
        
    </div>
<!-- search-box -->


