

.textFeild
{
    label
    {
        display: block;
        font-size: 14px;
        margin: 5px 0px 5px 15px;
        color: #565656;
        font-weight: 700;
    }

    small
    {
        display: block;
        font-size: 13px;
        margin: 5px 0px 5px 15px;
        color: rgb(170, 170, 170);
        font-weight: 700;
    }
}

#someChanges
{
    margin-top: 3rem !important;
}

.image-url-width
{
    width: 30rem;
}