
<!-- data-collection -->
    <div class="pageContainer">

        <!-- page-heading -->
            <div class="page-title-container">

                <div class="pageTitle">User Input</div>
                <div class="pageSubtitle">User provide image URL and image name to add new image </div>

            </div>
        <!-- page-heading -->
        

        <div class="pageContent">
            
            <!-- imavge-URL -->
                <div class="textFeild">
                    <label for="API URL">Image URL <span class="mandatory">*</span></label>
                    <input type="text" class="image-url-width" [(ngModel)]="imageURL">
                </div>
            <!-- imavge-URL -->

            <!-- image-name -->
                <div class="textFeild image-name-width">
                    <label for="parameter">Image Name <span class="mandatory">*</span></label>
                    <input type="text" [(ngModel)]="imageName">
                </div>
            <!-- image-name -->

            <!-- add-image-button -->
                <button [ngClass]="pageStatus()? 'activeButton': 'unactiveButton'" 
                [disabled]="!pageStatus()" 
                (click)="collectData()">Add Image</button>
            <!-- add-image-button -->

        </div>

    </div>
<!-- data-collection -->
