

<!-- data-collection -->
<div class="pageContainer">

    <div class="pageTitle">Pre Processing</div>

    <div class="pageContent">

        <!-- directry path -->
        <div class="singleFeild">
            <label for="directry path">Directry Path <span class="mandatory">*</span></label>
            <input type="text" [(ngModel)]="path">
        </div>
        <!-- directry path -->

    </div>

    <div class="pageContent">

        <!-- drotation -->
        <div class="rangeFeild">
            <label >Width Percentage <span class="mandatory">*</span></label>
            <div class="range-container">
                <p>{{ width }}</p>
                <input type="range" min="0" max="100" step="1" [(ngModel)]="width">
            </div>
            
        </div>
        <!-- rotation -->

        <!-- width shift -->
        <div class="rangeFeild">
            <label >Height Percentage<span class="mandatory">*</span></label>
            <div class="range-container">
                <p>{{ height }}</p>
                <input type="range" min="0" max="100" step="1" [(ngModel)]="height">
            </div>
        </div>
        <!-- width shift -->

        <!-- run button -->
        <button [ngClass]="pageStatus()? 'activeButton': 'unactiveButton'" 
        [disabled]="!pageStatus()" 
        (click)="collectData()">Resize</button>
        <!-- run button -->

    </div>

</div>
<!-- data-collection -->
