

.result-container
{
    margin-left: 20px;
    width: 20rem;
}

.folderFeild input[type="file"]
{
    width: 20rem;
    height: 40px;
    content: 'Select directory';
}

.key
{
    margin: 2.5rem 0px 0px 0px;
    font-size: 18px;
    font-weight: 600;
    color: black;
}

.value
{
    color: #1976D2;
}