
<!-- project pic-stack -->
<div id="main-container">

    <!-- project header -->
        <div id="head">

            <h1 id="project-title">Team Optimistic</h1>
            
            <app-project-details></app-project-details>

            <app-search-box></app-search-box>

        </div>
    <!-- project header -->

    <!-- prtoject content -->
        <div id="content">

        </div>
    <!-- prtoject content -->

    <!-- project footer -->
        <div id="foot">
            <p class="treadmark">&copy; All rights reserved: Infosys.Ltd</p>
        </div>
    <!-- project footer -->

</div>
<!-- project pic-stack -->
