

#main-container
{
    border-radius: 1rem;
    margin: 1% 0.4%; 
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.4);
}


#head
{
    background-color: rgb(240, 240, 240);
    border-radius: 1rem 1rem 0rem 0rem;
    padding: 1rem;
    min-height: 10rem;

    #project-title
    {
        margin: 0px;
        font-size: 24px;
        color: rgb(86, 86, 86);
    }

}
    
    
    

#content
{
    background-color: rgb(240, 240, 240);
    min-height: 5rem;
    padding: 1rem;
}


#foot
{
    background-color: #1976D2;
    border-radius: 0rem 0rem 1rem 1rem;
    min-height: 1rem;
    padding: 1rem;

    .treadmark
    {
        color: rgba(255, 255, 255, 0.6);
        font-size: 0.8em;
        padding: 0;
        margin: 0;
    }
}