
#content
{
    background-color: rgb(240, 240, 240);
    min-height: 5rem;
    padding: 1rem;
}

#stack
{

    .pic
    {
        
    }

    .pic-container
    {
        display: inline-block;
        background-color: white;
        padding: 5px;
        margin-top: 20px;
    }

    .action-bar
    {
        background-color: #1976D2;
        min-height: 20px;
    }
}