
<div class="horizontal-line"></div>

<!-- project-details -->
    <div id="project-detail-container">
        
        <!-- classification -->
            <div class="project-detail">
                <img src="assets/fetch-web-images.png" alt="collection" width="80px">
                <h3 class="project-detail-title">Collection</h3>
                <p class="project-details-description">Images collect from multiple sources on internet</p>
            </div>
        <!-- classification -->

        <div class="vertical-line"></div>
        
        <!-- clasification -->
            <div class="project-detail">
                <img src="assets/classification-image.png" alt="clasification" width="80px">
                <h3 class="project-detail-title">Clasification</h3>
                <p class="project-details-description">Images clasify by objects it contains</p>
            </div>
        <!-- clasification -->

        <div class="vertical-line"></div>

        <!-- augmentation -->
            <div class="project-detail">
                <img src="assets/augmentation-image.png" alt="augmentation" width="65px">
                <h3 class="project-detail-title">Augmentation</h3>
                <p class="project-details-description">Images augment by zoom and rotate</p>
            </div>
        <!-- augmentation -->

    </div>
<!-- project-details -->