

#project-detail-container
{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 8rem auto 4em auto;

    .project-detail
    {
        width: 200px;
        margin: 0px 10px;

        .project-detail-title
        {
            color: rgb(86, 86, 86);
            margin: 1rem 0px 0px 0px;
        }

        .project-details-description
        {
            color: rgb(170, 170, 170);
            margin: 0.5rem 0px 0px 0px;
        }
        
    }

    .vertical-line
    {
        background-color: rgb(220, 220, 220);
        margin: 0px 10px;
        width: 2px;
    }
}
