


<!-- project-details -->
    <div id="project-detail-container">
        
        <!-- user-input -->
            <div class="project-detail">
                <img [src]="projectDetails[0].detailLogo" [alt]="projectDetails[0].detailTitle" width="80px">
                <h3 class="project-detail-title">{{ projectDetails[0].detailTitle }}</h3>
                <p class="project-details-description">{{ projectDetails[0].detailDetails }}</p>
            </div>
        <!-- user-input -->

        <div class="vertical-line"></div>
        
        <!-- pic-stack -->
            <div class="project-detail">
                <img [src]="projectDetails[1].detailLogo" [alt]="projectDetails[1].detailTitle" width="80px">
                <h3 class="project-detail-title">{{ projectDetails[1].detailTitle }}</h3>
                <p class="project-details-description">{{ projectDetails[1].detailDetails }}</p>
            </div>
        <!-- pic-stack -->

        <div class="vertical-line"></div>

        <!-- filter -->
            <div class="project-detail" style="margin-top: 10px;">
                <img [src]="projectDetails[2].detailLogo" [alt]="projectDetails[2].detailTitle" width="65px">
                <h3 class="project-detail-title">{{ projectDetails[2].detailTitle }}</h3>
                <p class="project-details-description">{{ projectDetails[2].detailDetails }}</p>
            </div>
        <!-- filter -->

    </div>
<!-- project-details -->