$roboto-font-path: "~roboto-fontface/fonts" !default;
@import "~roboto-fontface/css/roboto/sass/roboto-fontface";

/*** Scroll bar scustomization ***/
body::-webkit-scrollbar
{
	width: 1rem;
}

body::-webkit-scrollbar-track
{
	background-color: white; 
}

body::-webkit-scrollbar-thumb
{
	background-color: #1976D2; 
	border-radius: 0.5rem;
}
/*** Scroll bar scustomization ***/

body
{
  font-family: "Roboto", "Helvetica", "Arial", "sans-serif";
}

.horizontal-line
{
  background-color: rgb(220, 220, 220);
  margin: 20px 0px;
  height: 2px;
}
